[Desktop Entry]
Version=1.0
Name=Launcher
Type=Application
Comment=Menu system that allows you to run any of the DietPi programs.
Terminal=true
Exec=/DietPi/dietpi/dietpi-launcher
Icon=edit-redo
Categories=ConsoleOnly;System;
GenericName=DietPi-Launcher
Path=
StartupNotify=false
