[Desktop Entry]
Version=1.0
Type=Link
Name=Storage Unit Launcher
Comment=
Icon=/mnt/dietpi_userdata/icons/apple-touch-icon-180x180.png
URL=http://localhost
