[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Google Assistant
Comment=
Exec=sleep 30 && python ~/Google_Assistant/google-assistant-master/gassistant.py ~/Google_Assistant/google-assistant-master/models/ok_google.pmdl
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

