[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Touch Screen
Comment=
Exec=xinput --set-prop 'FT5406 memory based driver' 'Coordinate Transformation Matrix'  0 1 0 -1 0 1 0 0 1
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

